.ZoomInImageEffect {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #4b4b4b;

  & .container {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 6px solid white;
  }

  & img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    transition: all 1s;
  }

  & .container:hover img {
    transform: scale(1.2) rotate(7deg);
  }
}
