.ScrollTriggerBasic {
  section {
    height: 100vh;
    text-align: center;
  }

  .box {
    background-color: red;
    width: 200px;
    height: 200px;
  }

  .dark {
    position: relative;
    background: rgb(27, 27, 27);

    text-align: left;
    color: white;

    img {
      width: 50%;
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
      object-fit: cover;
    }
  }

  .content {
    padding: 9em 5em;
    z-index: 1;
    position: relative;

    h2 {
      font-size: 5em;
      margin-bottom: 0;
    }

    p {
      font-size: 1.6em;
    }
  }
}
