.StretchingButtonEffect {
  height: 400px;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      position: relative;

      padding: 40px 80px;
      border: 3px solid #e1332d;
      overflow: hidden;

      font-family: 'Roboto', sans-serif;
      font-size: 45px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: -2px;
      color: #e1332d;

      transition: all 0.5s;
    }

    a:hover {
      border: 7 px solid #e1332d;

      font-weight: 700;
      letter-spacing: 10px;
    }
  }
}
